.letter {
    font-size: 160px;
}

body {
    background: white;
    font-family: Consolas, monaco, monospace;
    text-align: center;
    margin-top: auto;
    padding: 70px 0;
    color: #0000FF;
}

.footer {
    position: fixed;
    font-size: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
